/*font*/
/*color*/
/*effects*/
body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif; }

/*grid*/
.container {
  width: 1160px;
  margin: 0 auto; }

.clearfix:after {
  display: block;
  clear: both;
  content: ''; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/*header style*/
.header {
  padding-top: 35px; }

.logo {
  float: left; }

/*social*/
.social {
  float: right;
  margin-top: 12px; }

.social__item {
  display: inline-block;
  margin-left: 15px; }

.social__links {
  display: block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.icon-facebook-grey:hover {
  background-position: -8px -73px; }

.icon-twitter-grey:hover {
  background-position: -15px -58px; }

.icon-rss-grey:hover {
  background-position: -64px -31px; }

.icon-in-grey:hover {
  background-position: -32px -32px; }

.icon-skype-grey:hover {
  background-position: -64px 0px; }

/*menu*/
.menu-wrap {
  background-color: #2a2d32;
  margin: 35px 0; }

.menu {
  float: left; }

.menu__item {
  display: inline-block; }

.menu__link {
  color: #fff;
  padding: 20px 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ubuntu Condensed", Arial, sans-serif;
  display: block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-right: 1px solid #181a1d; }

.menu__link:hover {
  color: #f4b60d; }

.active-link {
  background-color: #248cec; }

/*search*/
.search-form {
  float: right;
  margin: 7px;
  position: relative; }

.search-form__input {
  background-color: #35383c;
  border: 1px solid #181a1d;
  outline: 0;
  padding: 12px 15px; }

.search-form__btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 15px; }

@font-face {
  font-family: 'Ubuntu Condensed';
  src: url("../fonts/Ubuntu-Condensed/ubuntu-condensed.eot");
  src: url("../fonts/Ubuntu-Condensed/ubuntu-condensed.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Condensed/ubuntu-condensed.woff2") format("woff2"), url("../fonts/Ubuntu-Condensed/ubuntu-condensed.woff") format("woff"), url("../fonts/Ubuntu-Condensed/ubuntu-condensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu Medium';
  src: url("../fonts/Ubuntu-Medium/ubuntu-medium.eot");
  src: url("../fonts/Ubuntu-Medium/ubuntu-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Medium/ubuntu-medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium/ubuntu-medium.woff") format("woff"), url("../fonts/Ubuntu-Medium/ubuntu-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*styles to write here*/
/*slider*/
#owl-demo .item {
  margin: 3px; }

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto; }

.slider-wrap .owl-dots {
  width: 100%;
  text-align: center;
  margin-top: -35px; }

.slider-wrap .owl-dot {
  width: 17px;
  height: 17px;
  background-color: #fff;
  display: inline-block;
  opacity: 0.9;
  margin-left: 15px; }

.slider-wrap .owl-dot.active {
  background-color: #000;
  border: 3px solid #fff; }

.item {
  position: relative; }

.item-title-wrap {
  position: absolute;
  bottom: 40px;
  left: 40px; }

.item-title {
  font-family: "Ubuntu Medium", Arial, sans-serif;
  color: #fff;
  font-size: 54px;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 0px 28px;
  text-transform: uppercase; }

.item-title i {
  color: #f4b60d; }

.item-title--top {
  padding-top: 28px; }

.item-title--bottom {
  padding-bottom: 28px; }

.item-title--middle {
  letter-spacing: 2.5px; }

/*section options*/
.options {
  margin: 65px 0 85px 0; }

.options__item {
  position: relative;
  width: 33.33333333%;
  padding: 0 35px 0 120px;
  float: left; }

.options__key {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Ubuntu Medium", Arial, sans-serif;
  font-size: 90px;
  color: #ccc;
  line-height: 64px; }

.icon {
  display: block; }

.options__title {
  font-size: 20px;
  margin: 20px 0;
  font-family: "Ubuntu Medium", Arial, sans-serif; }

.options__paragraph {
  font-size: 13px;
  color: #8a8a8a;
  line-height: 18px;
  margin-bottom: 20px; }

.icon-inline {
  display: inline-block;
  margin-left: 10px; }

.options__link {
  font-family: "Ubuntu Medium", Arial, sans-serif;
  text-decoration: none;
  color: #000; }

.options__link:hover {
  color: #248cec; }

.options__link:hover .icon-arrow-blue {
  background-position: -80px -62px; }
