/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-blue {
  background-image: url(../sprites/sprite.png);
  background-position: -32px -48px;
  width: 10px;
  height: 9px;
}
.icon-arrow-grey {
  background-image: url(../sprites/sprite.png);
  background-position: -80px -62px;
  width: 10px;
  height: 9px;
}
.icon-facebook-blue {
  background-image: url(../sprites/sprite.png);
  background-position: 0px -73px;
  width: 8px;
  height: 16px;
}
.icon-facebook-grey {
  background-image: url(../sprites/sprite.png);
  background-position: -8px -73px;
  width: 8px;
  height: 16px;
}
.icon-facebook-grey {
  background-image: url(../sprites/sprite.png);
  background-position: -80px -46px;
  width: 8px;
  height: 16px;
}
.icon-in-blue {
  background-image: url(../sprites/sprite.png);
  background-position: -48px -32px;
  width: 16px;
  height: 16px;
}
.icon-in-grey {
  background-image: url(../sprites/sprite.png);
  background-position: -64px -16px;
  width: 16px;
  height: 15px;
}
.icon-location {
  background-image: url(../sprites/sprite.png);
  background-position: -80px -14px;
  width: 12px;
  height: 16px;
}
.icon-mail {
  background-image: url(../sprites/sprite.png);
  background-position: -64px -46px;
  width: 16px;
  height: 12px;
}
.icon-phone {
  background-image: url(../sprites/sprite.png);
  background-position: -80px -30px;
  width: 10px;
  height: 16px;
}
.icon-rss-blue {
  background-image: url(../sprites/sprite.png);
  background-position: -64px -31px;
  width: 16px;
  height: 15px;
}
.icon-rss-grey {
  background-image: url(../sprites/sprite.png);
  background-position: 0px -58px;
  width: 15px;
  height: 15px;
}
.icon-search {
  background-image: url(../sprites/sprite.png);
  background-position: -80px 0px;
  width: 14px;
  height: 14px;
}
.icon-skype-blue {
  background-image: url(../sprites/sprite.png);
  background-position: -64px 0px;
  width: 16px;
  height: 16px;
}
.icon-skype-grey {
  background-image: url(../sprites/sprite.png);
  background-position: -32px -32px;
  width: 16px;
  height: 16px;
}
.icon-twitter-blue {
  background-image: url(../sprites/sprite.png);
  background-position: -15px -58px;
  width: 17px;
  height: 13px;
}
.icon-twitter-grey {
  background-image: url(../sprites/sprite.png);
  background-position: -32px -58px;
  width: 17px;
  height: 13px;
}
.icon-y-params {
  background-image: url(../sprites/sprite.png);
  background-position: -32px 0px;
  width: 32px;
  height: 32px;
}
.icon-y-settings {
  background-image: url(../sprites/sprite.png);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-y-truck {
  background-image: url(../sprites/sprite.png);
  background-position: 0px -32px;
  width: 32px;
  height: 26px;
}
