@font-face {
    font-family: 'Ubuntu Condensed';
    src: url('../fonts/Ubuntu-Condensed/ubuntu-condensed.eot');
    src: url('../fonts/Ubuntu-Condensed/ubuntu-condensed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ubuntu-Condensed/ubuntu-condensed.woff2') format('woff2'),
         url('../fonts/Ubuntu-Condensed/ubuntu-condensed.woff') format('woff'),
         url('../fonts/Ubuntu-Condensed/ubuntu-condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Ubuntu Medium';
    src: url('../fonts/Ubuntu-Medium/ubuntu-medium.eot');
    src: url('../fonts/Ubuntu-Medium/ubuntu-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ubuntu-Medium/ubuntu-medium.woff2') format('woff2'),
         url('../fonts/Ubuntu-Medium/ubuntu-medium.woff') format('woff'),
         url('../fonts/Ubuntu-Medium/ubuntu-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}