.footer {
	background-color: $bg-color;
}
.footer-top {
	padding: 50px 0;
}
.footer-top__item {
	width: 260px;
	float: left;
	margin-right: 40px;
}
.footer-top__item--last {
	margin-right: 0;
}
.footer-menu__item-title {
	color: #fff;
	font-size: 16px;
	font-family: $accent-font;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.footer-menu__item {
	border-bottom: 1px solid $text-color;
	padding: 10px 0;
}
.footer-menu__link {
	color: $text-color;
	font-size: 13px;
}
.footer-menu__link:hover {
	color: $accent-first-color;
}
.footer-menu__item:last-child {
	border-bottom: 1px solid transparent;
}