/*font*/
$accent-font: 'Ubuntu Medium', Arial, sans-serif;
$menu-font: 'Ubuntu Condensed', Arial, sans-serif;
$main-font: Arial, Helvetica, sans-serif;
/*color*/
$accent-first-color: #248cec;
$accent-second-color: #f4b60d;
$negative-color: #ccc;
$title-color: #2a2b2e;
$text-color: #8a8a8a;
$bg-color: #2a2d32;
/*effects*/
$animation: all 0.2s ease;

