@import "_variables";
@import "_header";
@import "_fonts";
/*styles to write here*/
/*slider*/
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.slider-wrap .owl-dots {
	width: 100%;
	text-align: center;
	margin-top: -35px;
}
.slider-wrap .owl-dot {
	width: 17px;
	height: 17px;
	background-color: #fff;
	display: inline-block;
	opacity: 0.9;
	margin-left: 15px;
}
.slider-wrap .owl-dot.active {
	background-color: #000;
	border: 3px solid #fff;
}
.item {
	position: relative;
}
.item-title-wrap {
	position: absolute;
	bottom: 40px;
	left: 40px;
}
.item-title {
	font-family: $accent-font;
	color: #fff;
	font-size: 54px;
	background-color: rgba(#000, 0.8);
	display: inline-block;
	padding: 0px 28px;
	text-transform: uppercase;
}
.item-title i {
	color: $accent-second-color;
}
.item-title--top {
	padding-top: 28px;
}
.item-title--bottom {
	padding-bottom: 28px;
}
.item-title--middle {
	letter-spacing: 2.5px;
}
/*section options*/
.options {
	margin: 65px 0 85px 0;
}
.options__item {
	position: relative;
	width: 33.33333333%;
	padding: 0 35px 0 120px;
	float: left;
}
.options__key {
	position: absolute;
	top: 0;
	left: 0;
	font-family: $accent-font;
	font-size: 90px;
	color: $negative-color;
	line-height: 64px;
}
.icon {
	display: block;
}
.options__title {
	font-size: 20px;
	margin: 20px 0;
	font-family: $accent-font;
}
.options__paragraph {
	font-size: 13px;
	color: $text-color;
	line-height: 18px;
	margin-bottom: 20px;
}
.icon-inline {
	display: inline-block;
	margin-left: 10px;
}
.options__link {
	font-family: $accent-font;
	text-decoration: none;
	color: #000;
}
.options__link:hover {
	color: $accent-first-color;
}
.options__link:hover .icon-arrow-blue {
	background-position: -80px -62px;
}