@import "_variables";
@import "_header";
@import "_fonts";
/*styles to write here*/
/*slider*/
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.slider-wrap .owl-dots {
	width: 100%;
	text-align: center;
	margin-top: -35px;
}
.slider-wrap .owl-dot {
	width: 17px;
	height: 17px;
	background-color: #fff;
	display: inline-block;
	opacity: 0.9;
	margin-left: 15px;
}
.slider-wrap .owl-dot.active {
	background-color: #000;
	border: 3px solid #fff;
}
.item {
	position: relative;
}
.item-title-wrap {
	position: absolute;
	bottom: 40px;
	left: 40px;
}
.item-title {
	font-family: $accent-font;
	color: #fff;
	font-size: 54px;
	background-color: rgba(#000, 0.8);
	display: inline-block;
	padding: 0px 28px;
	text-transform: uppercase;
}
.item-title i {
	color: $accent-second-color;
}
.item-title--top {
	padding-top: 28px;
}
.item-title--bottom {
	padding-bottom: 28px;
}
.item-title--middle {
	letter-spacing: 2.5px;
}
/*section options*/
.options {
	margin: 65px 0 85px 0;

	&__item {
	position: relative;
	width: 33.33333333%;
	padding: 0 35px 0 120px;
	float: left;
	}

	&__key {
	position: absolute;
	top: 0;
	left: 0;
	font-family: $accent-font;
	font-size: 90px;
	color: $negative-color;
	line-height: 64px;
	}

	&__title {
	font-size: 20px;
	margin: 20px 0;
	font-family: $accent-font;
	}
	&__paragraph {
		font-size: 13px;
		color: $text-color;
		line-height: 18px;
		margin-bottom: 20px;
	}
	&__link {
	font-family: $accent-font;
	text-decoration: none;
	color: #000;
	}
	&__link:hover {
		color: $accent-first-color;
	}
	&__link:hover .icon-arrow-blue {
		background-position: -80px -62px;
	}
}//end options
.icon {
	display: block;
}
.icon-inline {
	display: inline-block;
	margin-left: 10px;
}
/*section services*/
.services {
	background-color: $bg-color;

	&__title {
	padding: 45px 0 50px 0;
	color: #fff;
	font-size: 24px;
	font-family: $accent-font;
	}
	&__link {
		width: 260px;
		display: block;
		text-align: center;
		position: relative;
		text-decoration: none;
		float: left;
		margin-right: 40px;
	}
	&__link--last {
		margin-right: 0;
	}
	&__link:after {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		content: '+';
		font-size: 72px;
		color: #fff;
		text-decoration: none;
		font-family: $main-font;
		background-color: rgba($accent-first-color, 0.9);
		width: 100%;
		height: 260px;
		opacity: 0;
		line-height: 3.5;
		transition: $animation;
	}
	&__link:hover:after {
		opacity: 1;
	}
	&__img-title {
		color: #fff;
		padding: 35px 0 65px 0;
		font-size: 16px;
	}
	&__link:hover &__img-title {
		color: $accent-second-color;
	}

}//end services

/*section additionally*/
.additionally {
	background-color: #f7f7f7;
}
.news,
.banners {
	width: 50%;
	float: left;
	padding-bottom: 50px;
}
.news__title,
.banners__title {
	margin-top: 50px;
	margin-bottom: 40px;
	font-family: $accent-font;
	font-size: 24px;
}
/*news*/
.news__item {
	padding-bottom: 30px;
}
.news__img-wrap {
	width: 150px;
	float: left;
	margin-right: 30px;
	position: relative;
}
.news__img-date {
	position: absolute;
	top: 10px;
	left: -20px;
}
.new__img-month,
.new__img-day {
	display: block;
	padding: 10px;
	text-align: center;
	font-family: $accent-font;
}
.new__img-month {
	color: #fff;
	background-color: $accent-first-color;
}
.new__img-day {
	background-color: $accent-second-color;
}
.new__descr {
	width: 380px;
	float: left;
	color: $text-color;
	font-size: 13px;
}
.news__descr-title {
	font-family: $accent-font;
	color: #000;
	font-size: 16px;
}
.news__descr-title:hover {
	color: $accent-first-color;
}
.news__descr-sub {
	margin: 10px 0 20px 0;
}
.news__descr-sub-link {
	color: $accent-first-color;
}
.news__descr-paragraph {
	line-height: 18px;
}
/*accordion*/
.accordion__link {
	display: block;
	padding: 10px 50px;
	text-transform: uppercase;
	font-family: $menu-font;
	letter-spacing: 1px;
	border: 1px solid $negative-color;
	background-color: #fff;
	margin-bottom: 5px;
	color: #000;
}
.accordion dt {
	position: relative;
}
.accordion__link:before {
	content: '+';
	border-right: 1px solid $negative-color;
	line-height: 38px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 15px;
	font-size: 18px;
}
.active-ac-link {
	background-color: $accent-second-color;
	color: #fff;
	border: 1px solid transparent;
}
.active-ac-link:before {
	content: '-';
}
.accordion__paragraph {
	padding: 30px 10px 30px 40px;
	font-family: $main-font;
	color: $text-color;
	font-size: 13px;
	line-height: 18px;
}
/*sponsors*/
.sponsors__item {
	display: inline-block;
	margin: 95px 18px;
}
.sponsors__link {
	display: block;
}
.sponsors__link:hover {
	opacity: 0.7;
}
/*footer*/
@import "_footer";